body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    }
.content {
    flex: 1 0 auto;
}

.main-content {
    margin-top: 250px; /* Adjust this value to create space below the navbar */
    padding-left: 15px; /* Adjust this value for left padding */
    padding-right: 15px; /* Adjust this value for right padding */
}
.main-paragraph {
    margin-top: 20px; /* Adjust this value to create space above the paragraph */
    font-family: 'Jacques Francois', serif; /* Use Jacques Francois font */
    font-size: 24px; /* Set font size to 24px */
    text-align: left; /* Align text to the left */
}
.founders-section {
    margin-top: 50px; /* Adjust this value to create space above the section */
}
.founder-img {
    border-radius: 10px; /* Rounded corners */
}
.additional-paragraph {
    font-family: 'Jacques Francois', serif; /* Use Jacques Francois font */
    font-size: 24px; /* Set font size to 24px */
    text-align: left; /* Align text to the left */
    margin-top: 40px; /* Add space above the paragraph */
}
.ingrid-darling {
    font-family: 'Ingrid Darling', cursive; /* Apply Ingrid Darling font */
    font-size: 36px; /* Set font size to 36px */
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* Add space above the social icons section */
    margin-bottom: 50px; /* Add space below the social icons section */
}
.social-icons img {
    margin: 0 50px; /* Adjust spacing between icons */
}
.social-icons img:nth-child(2) {
    margin: 0 150px; /* Add larger space to center Deliveroo icon */
}