body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    }
.content {
    flex: 1 0 auto;
}
.navbar {
background-color: #ffffff; /* Very white background color */
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
position: fixed; /* Frame stays fixed during scroll */
top: 0;
width: 100%; /* Full width */
z-index: 1; /* Ensure it's above other content */
display: flex;
flex-direction: column;
align-items: center; /* Center the content horizontally */
}
.navbar-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
}
.navbar-header img {
    margin-right: 20px; /* Add some space between the icon and title */
}
.title {
    font-family: 'Ingrid Darling', cursive; /* Use Ingrid Darling font */
    font-size: 90px; /* Increase font size to 90px */
    white-space: nowrap; /* Prevent wrapping of text */
}
.navbar-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Max width for larger screens */
    padding: 0 20px; /* Add padding to the left and right */
    margin-top: -20px; /* Adjust top margin */
}
.navbar-nav .nav-link {
    font-family: 'Inter', sans-serif; /* Use Inter font */
    font-size: 30px; /* Set font size to 30px */
    width: auto; /* Remove fixed width */
}
.main-content {
    margin-top: 250px; /* Adjust this value to create space below the navbar */
    padding-left: 15px; /* Adjust this value for left padding */
    padding-right: 15px; /* Adjust this value for right padding */
}
.main-paragraph {
    margin-top: 20px; /* Adjust this value to create space above the paragraph */
    font-family: 'Jacques Francois', serif; /* Use Jacques Francois font */
    font-size: 24px; /* Set font size to 24px */
    text-align: left; /* Align text to the left */
}
.founders-section {
    margin-top: 50px; /* Adjust this value to create space above the section */
}
.founder-img {
    border-radius: 10px; /* Rounded corners */
}
.additional-paragraph {
    font-family: 'Jacques Francois', serif; /* Use Jacques Francois font */
    font-size: 24px; /* Set font size to 24px */
    text-align: left; /* Align text to the left */
    margin-top: 40px; /* Add space above the paragraph */
}
.ingrid-darling {
    font-family: 'Ingrid Darling', cursive; /* Apply Ingrid Darling font */
    font-size: 36px; /* Set font size to 36px */
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* Add space above the social icons section */
    margin-bottom: 50px; /* Add space below the social icons section */
}
.social-icons img {
    margin: 0 50px; /* Adjust spacing between icons */
}
.social-icons img:nth-child(2) {
    margin: 0 150px; /* Add larger space to center Deliveroo icon */
}
footer {
    background-color: #343a40; /* Dark background color */
    color: white; /* White text color */
    flex-shrink: 0;
    padding: 10px; /* Reduce padding */
}

footer a {
    color: white; /* White link color */
}
footer a:hover {
    text-decoration: underline;
}
.footer-icon {
    color: white; /* White icon color */
}
.footer-heading {
    margin-bottom: 10px; /* Reduce margin below the heading */
}
.working-hours {
    max-width: 300px; /* Reduce the width of this column */
    margin: 0 auto; /* Center the column */
}

.shooping_cart {
    border: 2px solid orange;
    border-radius: 20%;
}

.newsletter-subscription {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.newsletter-subscription button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}
.newsletter-subscription button:hover {
    background-color: rgb(84, 181, 255);
}