body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}

.main-content {
    margin-top: 250px; /* Adjust this value to create space below the navbar */
    padding-left: 15px; /* Adjust this value for left padding */
    padding-right: 15px; /* Adjust this value for right padding */
}
.main-paragraph {
    margin-top: 20px; /* Adjust this value to create space above the paragraph */
    font-family: 'Jacques Francois', serif; /* Use Jacques Francois font */
    font-size: 24px; /* Set font size to 24px */
    text-align: left; /* Align text to the left */
}
.event-title {
    text-align: left;
    font-family: 'Jacques Francois', serif;
    font-size: 36px;
    margin-top: 50px;
}
.event-paragraph {
    font-family: 'Jacques Francois', serif;
    font-size: 24px;
    text-align: left;
    margin-top: 20px;
}
.event-blocks {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.event-block {
    text-align: center;
    width: 45%;
}
.event-block img {
    width: 100%;
    height: auto;
    border: 2px solid #000; /* Add a border for better visibility */
}
.event-block h5 {
    margin-top: 15px;
    font-family: 'Jacques Francois', serif;
    font-size: 20px;
}
#calendar {
    max-width: 900px;
    margin: 40px auto;
}

