body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
.content {
    flex: 1 0 auto;
}

.homepage-picture {
    width: 100%;
    height: auto;
    /* max-width: 100%;
    max-height: 700px; */
    overflow: hidden;
}

.logo-slogan-picture {
    display: block;
    margin: 20px auto; /* Center the image */
    width: 500px;
    height: 350px;
}
.container {
    color: black;
    text-align: center;
    margin-top: 20px; /* Add margin to separate from the navbar */
}
.three-columns {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.three-columns .column {
    flex: 1;
    padding: 0 70px; /* Add more padding between columns */
    margin-bottom: 40px; /* Add space between the images and paragraphs */
    text-align: center; /* Center the text and images within each column */
}
.three-columns img {
    width: 160px; /* Fixed width */
    height: 140px; /* Fixed height */
    margin-bottom: 20px; /* Add space between images and text */
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; /* Add space above the social icons section */
    margin-bottom: 50px; /* Add space below the social icons section */
}
.social-icons img {
    margin: 0 50px; /* Adjust spacing between icons */
}
.social-icons img:nth-child(2) {
    margin: 0 150px; /* Add larger space to center Deliveroo icon */
}





.product-image {
    padding: 5px;
}
.product-title {
    font-size: 2rem;
    font-weight: bold;
}
.product-price {
    font-size: 1.5rem;
    color: #000;
    margin: 15px 0;
}
.product-description {
    font-size: 1rem;
}
.customer-review {
    font-size: 0.8rem;
    color: gray;
}
.rating-stars {
    color: gold;
}

.best-seller {
    padding-bottom: 50px;
    font-family: 'Cormorant Infant';
    display: flex;
    justify-content: center;
}

.best-seller h1 {
    font-size: 60px;
}