body {
    font-family: 'Cursive', sans-serif;
}

.product-title {
    font-size: 2rem;
    font-weight: bold;
}
.product-price {
    font-size: 1.5rem;
    color: #666;
}
.product-description {
    margin-top: 20px;
}
.contact-info {
    margin-top: 40px;
}
.working-hours {
  max-width: 300px; /* Reduce the width of this column */
  margin: 0 auto; /* Center the column */
}

.btn-color-orange {
    background-color: orange;
    border-color: orange;
}

.cart-table {
    margin-top: 300px;
}

.remove-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}