body {
    font-family: 'Cursive', sans-serif;
}

.navbar {
background-color: #ffffff; /* Very white background color */
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
position: fixed; /* Frame stays fixed during scroll */
top: 0;
width: 100%; /* Full width */
z-index: 1; /* Ensure it's above other content */
display: flex;
flex-direction: column;
align-items: center; /* Center the content horizontally */
}
.navbar-header {
display: flex;
align-items: center;
justify-content: center; /* Center the content */
}
.navbar-header img {
margin-right: 20px; /* Add some space between the icon and title */
}
.title {
font-family: 'Ingrid Darling', cursive; /* Use Ingrid Darling font */
font-size: 90px; /* Increase font size to 90px */
white-space: nowrap; /* Prevent wrapping of text */
}
.navbar-links {
display: flex;
justify-content: space-between;
width: 100%;
max-width: 1200px; /* Max width for larger screens */
padding: 0 20px; /* Add padding to the left and right */
margin-top: -20px; /* Adjust top margin */
}
.navbar-nav .nav-link {
font-family: 'Inter', sans-serif; /* Use Inter font */
font-size: 30px; /* Set font size to 30px */
width: auto; /* Remove fixed width */
}

.product-title {
    font-size: 2rem;
    font-weight: bold;
}
.product-price {
    font-size: 1.5rem;
    color: #666;
}
.product-description {
    margin-top: 20px;
}
.contact-info {
    margin-top: 40px;
}
.working-hours {
  max-width: 300px; /* Reduce the width of this column */
  margin: 0 auto; /* Center the column */
}
.footer {
    margin-top: 40px;
    padding: 20px 0;
    background: #f8f9fa;
}
.footer a {
    color: #333;
    margin-right: 10px;
}
.footer a:hover {
    text-decoration: none;
}

.btn-color-orange {
    background-color: orange;
    border-color: orange;
}

.cart-table {
    margin-top: 300px;
}

.remove-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}